* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  background-color: #191414;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

#landingPageContainer {
  background-image: url('https://musictheoryprofessor.s3-us-west-1.amazonaws.com/lorenzo-spoleti-MlhJNEUQpBs-unsplash.jpg'); 
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  /* min-height: 100vh; */
  height: fit-content;
  width: 100%;
}

#loggedInContainer {
  background-image: url('https://musictheoryprofessor.s3-us-west-1.amazonaws.com/photo-1566851900450-a683dc888636.jpeg'); 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}

#loggedInHomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

#profile {
  background-color: #e4ca9e;
  height: fit-content;
}

#landingPage {
  width: 100%;
  height: 100%;
  padding-bottom: 2.5rem;
}

#navBar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 175px;
  background-color: #191414;
}

.navLink {
  float: right;
  color: #ae9882;
  font-family: cursive;
}

#logoutButton {
  text-decoration: none;
  font-family: cursive;
  padding: 10px;
  background-color: transparent;
  border: transparent;
  color: #ae9882;
  font-size: 1rem;
}
#logoutButton:hover {
  text-decoration: underline;
  cursor: pointer;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #191414;
  position: absolute;
  bottom: 0;
  height: fit-content;
}

#moreInfoLogo {
  width: 350px;
  height: 350px;
}

#navBarLogo img {
  float: left;
  color: white;
  width: 125px;
  height: 125px;
}

#footerLogo img {
  width: 100px;
  height: 100px;
}

.footerLinkImage img {
  width: 65px;
  height: 65px;
}

.aboutPageMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutPageMedia img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

a {
  text-decoration: none;
  font-family: Arial;
  font-size: 1rem;
  padding: 10px;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#loggedOutContent {
  height: fit-content;
}

#loggedInContent {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
}

#loginButton {
  float: right;
  color: #f7ecdb;
  background-color: #1a1515;
  border-radius: 5px;
  border: transparent;
  padding: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: box-shadow 0.25s;
}
#loginButton:hover {
  cursor: pointer;
  text-decoration: underline;
  box-shadow: 5px 5px 5px black;
}

#header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.5rem;
  width: 25%;
  text-align: center;
  margin: 10%;
  color: black;
}

#loggedOutHomePage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: fit-content;
}

.navigationButton {
  background-color: #e4ca9e;
  border-radius: 10px;
  border: 3px solid black;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition: all 0.5s;
  margin: 20px;
}
.navigationButton:hover {
  cursor: pointer;
  box-shadow: 10px 5px 5px black;
  font-size: 3.1rem;
}

#navButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
}

#quizMenu {
  margin: 20px;
}

.menuButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#educationalContentWindow {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoSquare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  box-shadow: 10px 5px 5px black;
  text-align: center;
  background-color: #e4ca9e;
  width: 50%;
  height: fit-content;
  border: 2px solid black;
  border-radius: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.infoSquare p {
  width: 60%;
}

#moreLandingPageInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 20px;
  padding-bottom: 200px;
  background-color: #e4ca9e;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#learnNoteNames {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#learnChords {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#learnIntervals {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  border: transparent;
}

#aboutPageInfo {
  text-align: center;
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e4ca9e;
}

/* .quiz {
  display: flex;
  justify-content: center;
  align-items: center;
} */

@media (max-width: 1000px) {
  #landingPageContainer {
    min-height: 200%;
    width: 100%;
  }

  #learnNoteNames {
    display: flex;
    flex-direction: column;
  }

  #learnChords {
    display: flex;
    flex-direction: column;
  }

  #header {
    font-size: 1rem;
    /* width: 10%; */
    text-align: center;
    /* margin: 10%; */
    color: black;
  }

}